<a href="https://colab.research.google.com/github/pstelma/SQL_Project_Job_Data_Analysis/blob/main/Resources/Blank_SQL_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/Resources/Blank_SQL_Notebook.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Blank SQL Notebook

#### Import Libraries & Database

In [1]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

In [12]:
%%sql
SELECT
  c.countryfull,
  PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY
    CASE WHEN age < 30 THEN (s.netprice * s.quantity * s.exchangerate) END) AS young,
  PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY
    CASE WHEN age BETWEEN 30 AND 50 THEN (s.netprice * s.quantity * s.exchangerate) END) AS middle_aged,
  PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY
    CASE WHEN age > 50 THEN (s.netprice * s.quantity * s.exchangerate) END) AS senior
FROM
  sales s
LEFT JOIN  customer c ON s.customerkey = c.customerkey
GROUP BY
  countryfull

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

      countryfull  young  middle_aged  senior
0       Australia 589.32       560.24  576.93
1          Canada 487.87       535.81  525.92
2          France 328.16       365.30  377.52
3         Germany 344.19       348.46  357.40
4           Italy 386.23       343.75  350.72
5     Netherlands 352.14       349.20  363.35
6  United Kingdom 309.89       300.06  310.85
7   United States 404.93       402.46  397.63

In [46]:
%%sql
/* Classify customers based on their total spending in 2023 into three categories: Low Spender, Medium Spender, and High Spender.
   This will help in understanding the spending behavior of customers.
   Define spending categories as: Low Spender (< $500), Medium Spender ($500-$2000), and High Spender (> $2000).
   Use CASE WHEN to categorize customers based on their total spending. */

SELECT
  c.customerkey,
  CASE
    WHEN SUM(s.netprice*s.quantity*s.exchangerate) < 500 THEN 'Low Spender'
    WHEN SUM(s.netprice*s.quantity*s.exchangerate) BETWEEN 500 AND 2000 THEN 'Medium Spender'
    ELSE 'High Spender'
  END AS spending_group,
  SUM(s.netprice*s.quantity*s.exchangerate) AS total_spent
FROM
  sales s
LEFT JOIN customer c ON s.customerkey=c.customerkey
WHERE EXTRACT(YEAR FROM orderdate) = 2023
GROUP BY c.customerkey

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

13746 rows affected.

       customerkey  spending_group  total_spent
0              180  Medium Spender      1984.90
1              387  Medium Spender      1019.74
2              545    High Spender      3551.47
3              649  Medium Spender      1749.11
4              688    High Spender     16909.04
...            ...             ...          ...
13741      2099174     Low Spender       299.00
13742      2099336     Low Spender       358.88
13743      2099511    High Spender      2856.02
13744      2099656    High Spender      8328.22
13745      2099743  Medium Spender       598.46

[13746 rows x 3 columns]

In [17]:
%sql select count(*) from sales

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

1 rows affected.

    count
0  199873

In [18]:
%sql select * from sales

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

199873 rows affected.

,orderkey,linenumber,orderdate,deliverydate,customerkey,storekey,productkey,quantity,unitprice,netprice,unitcost,currencycode,exchangerate
0,1000,0,2015-01-01,2015-01-01,947009,400,48,1,112.46,98.97,57.34,GBP,0.64
1,1000,1,2015-01-01,2015-01-01,947009,400,460,1,749.75,659.78,382.25,GBP,0.64
2,1001,0,2015-01-01,2015-01-01,1772036,430,1730,2,54.38,54.38,25.00,USD,1.00
3,1002,0,2015-01-01,2015-01-01,1518349,660,955,4,315.04,286.69,144.88,USD,1.00
4,1002,1,2015-01-01,2015-01-01,1518349,660,62,7,135.75,135.75,62.43,USD,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
199868,3398034,1,2024-04-20,2024-04-21,664396,999999,1651,7,159.99,139.19,73.57,EUR,0.94
199869,3398034,2,2024-04-20,2024-04-21,664396,999999,1646,1,159.99,159.99,73.57,EUR,0.94
199870,3398035,0,2024-04-20,2024-04-22,267690,999999,1575,2,60.99,53.67,28.05,CAD,1.38
199871,3398035,1,2024-04-20,2024-04-22,267690,999999,415,5,326.00,293.40,166.20,CAD,1.38
199872,3398035,2,2024-04-20,2024-04-22,267690,999999,1693,6,6.88,6.88,3.16,CAD,1.38